WcfServiceWrapper/Service References/LdapServiceReference/LdapConnectionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LdapConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22966/LdapConnectionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22966/LdapConnectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22966/LdapConnectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:22966/LdapConnectionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILdapConnectionService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ILdapConnectionService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILdapConnectionService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ILdapConnectionService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILdapConnectionService_IsMemberOf_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMemberOf" />
  </wsdl:message>
  <wsdl:message name="ILdapConnectionService_IsMemberOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMemberOfResponse" />
  </wsdl:message>
  <wsdl:portType name="ILdapConnectionService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILdapConnectionService/ValidateUser" message="tns:ILdapConnectionService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILdapConnectionService/ValidateUserResponse" message="tns:ILdapConnectionService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILdapConnectionService/GetUser" message="tns:ILdapConnectionService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILdapConnectionService/GetUserResponse" message="tns:ILdapConnectionService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMemberOf">
      <wsdl:input wsaw:Action="http://tempuri.org/ILdapConnectionService/IsMemberOf" message="tns:ILdapConnectionService_IsMemberOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILdapConnectionService/IsMemberOfResponse" message="tns:ILdapConnectionService_IsMemberOf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILdapConnectionService" type="tns:ILdapConnectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ILdapConnectionService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ILdapConnectionService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMemberOf">
      <soap:operation soapAction="http://tempuri.org/ILdapConnectionService/IsMemberOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LdapConnectionService">
    <wsdl:port name="BasicHttpBinding_ILdapConnectionService" binding="tns:BasicHttpBinding_ILdapConnectionService">
      <soap:address location="http://localhost:22966/LdapConnectionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>